@model IEnumerable<Aluno>
@{
    ViewData["Title"] = "Alunos";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Alunos.css" asp-append-version="true" />
}
<style>
    .btn-perfil {
        background-color: #C49A6C;
        color: white;
        border-radius: 20px;
        padding-left: 2rem;
        padding-right: 2rem;
       
    }

    .btn-cadastrar {
        background-color: #C49A6C;
        color: white;
        border-radius: 20px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    </style>

<h1 class="text-center m-3">Alunos</h1>

<!-- Filtros -->
<form method="get" asp-controller="Alunos" asp-action="Index" class="row filter-section justify-content-center">
    <div class="col-md-4 mb-2" style="width:370px;">
        <input type="text" name="filtroNome" value="@ViewBag.FiltroNome" class="form-control rounded-pill border border-dark" placeholder="Filtrar por nome" />
    </div>
    <div class="col-md-4 mb-2" style="width:370px;">
        <input type="text" name="filtroTurma" value="@ViewBag.FiltroTurma" class="form-control rounded-pill border border-dark" placeholder="Filtrar por turma" />
    </div>
    <div class="col-md-2 mb-2">
        <button type="submit" class="btn filter-btn w-100 rounded-pill">Filtrar</button>
    </div>
</form>

<div class="container mt-4" style="width:1000px;">
    @if (Model == null || !Model.Any())
    {
        <p>Nenhum aluno encontrado.</p>
    }
    else
    {
        <ul class="list-group">
            @foreach (var aluno in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong>Nome:</strong> @aluno.Nome <br />
                        <strong>Turma:</strong> @aluno.Turma?.Nome <br />
                        <strong>Telefone:</strong> @aluno.Telefone <br />
                        <strong>Dt Nascimento:</strong> @aluno.Dt_Nascimento.ToString("dd/MM/yyyy")
                    </div>
                    <div class="d-flex justify-content-center gap-2 flex-wrap">
                        @if (User.IsInRole("Admin") || User.IsInRole("Instrutor"))
                        {
                            <a class="btn btn-perfil px-4" asp-controller="Alunos" asp-action="Perfil" asp-route-id="@aluno.Id">Perfil</a>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("Auxiliar"))
                        {
                            <a class="btn btn-secondary px-4" style="border-radius: 20px;" asp-controller="Alunos" asp-action="Editar" asp-route-id="@aluno.Id">Editar</a>
                        }
                        
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-danger px-4" style="border-radius: 20px;" asp-controller="Alunos" asp-action="Excluir" asp-route-id="@aluno.Id">Excluir</a>
                        }
                    </div>

                </li>
            }
        </ul>
    }

    <!-- Botões -->
    <div class="d-flex justify-content-between mt-4">
        <a asp-controller="Home" asp-action="Index">
            <button class="btn btn-voltar px-4">Voltar</button>
        </a>
        <a asp-controller="Alunos" asp-action="Cadastro">
            <button class="btn btn-cadastrar px-4">Cadastrar Aluno</button>
        </a>
    </div>
</div>
