@model IEnumerable<BlackBelt.Models.Turma>

    @{
    ViewData["Title"] = "Turmas";
    }

    @section Styles {
        <link rel="stylesheet" href="~/css/Turmas.css" />
    }

    <h1 class="text-center m-3">Turmas</h1>

    <!--add funcionalidade de filtro-->
    <form method="get" asp-controller="Turmas" asp-action="Index" class="row filter-section justify-content-center">
        <div class="col-md-4 mb-2">
            <input type="text" name="filtroNome" value="@ViewBag.FiltroNome" class="form-control rounded-pill border border-dark" placeholder="Filtrar por nome" />
        </div>
        <div class="col-md-4 mb-2">
            <input type="text" name="filtroInstrutor" value="@ViewBag.FiltroInstrutor" class="form-control rounded-pill border border-dark" placeholder="Filtrar por Instrutor" />
        </div>
        <div class="col-md-2 mb-2">
            <button type="submit" class="btn filter-btn w-100 rounded-pill">Filtrar</button>
        </div>
    </form>

    <!-- Tabela -->
    <div class="container mt-4">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Instrutor</th>
                    <th>Horário</th>
                    <th>Data de Cadastro</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null || !Model.Any())
                {
                <tr>
                    <td colspan="6">Nenhuma turma cadastrada.</td>
                </tr>
                }
                else
                {
                    foreach (var turma in Model)
                    {
                <tr>
                    <td>@turma.Nome</td>
                    <td>@turma.Instrutor?.Nome</td>
                    <td>@turma.Horario</td>
                    <td>@turma.Dt_Cadastro.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a class="btn btn-perfil px-4" asp-route-id="@turma.Id" asp-controller="Turmas" asp-action="Editar">Editar</a>
                        @if (User.IsInRole("Admin"))
    {
                        <a class="btn btn-danger" asp-route-id="@turma.Id" asp-controller="Turmas" asp-action="Excluir">Excluir</a>
    }
                    </td>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Index" asp-controller="Home">
                <button class="btn btn-voltar px-4">Voltar</button>
            </a>
            <a asp-action="Cadastro" asp-controller="Turmas">
                <button class="btn btn-cadastrar px-4">Cadastrar Turma</button>
            </a>
        </div>
</div>
