@model IEnumerable<BlackBelt.Models.Turma>

    @{
    ViewData["Title"] = "Turmas";
    }

    @section Styles {
        <link rel="stylesheet" href="~/css/Turmas.css" />
    }

    <h1 class="text-center m-3">Turmas</h1>

    <!--add funcionalidade de filtro-->
    <form method="get" asp-controller="Turmas" asp-action="Index" class="row filter-section justify-content-center">
        <div class="col-md-4 mb-2">
            <input type="text" name="filtroNome" value="@ViewBag.FiltroNome" class="form-control rounded-pill border border-dark" placeholder="Filtrar por nome" />
        </div>
        <div class="col-md-4 mb-2">
            <input type="text" name="filtroInstrutor" value="@ViewBag.FiltroInstrutor" class="form-control rounded-pill border border-dark" placeholder="Filtrar por Instrutor" />
        </div>
        <div class="col-md-2 mb-2">
            <button type="submit" class="btn filter-btn w-100 rounded-pill">Filtrar</button>
        </div>
    </form>


    <!-- Botão de cadastro -->
    <a class="btn btn-cadastrar my-3" asp-area="" asp-controller="Turmas" asp-action="Cadastro">Cadastrar Turma</a>

    <!-- Tabela -->
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Instrutor</th>
                <th>Horário</th>
                <th>Status</th>
                <th>Data de Cadastro</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || !Model.Any())
            {
            <tr>
                <td colspan="6">Nenhuma turma cadastrada.</td>
            </tr>
            }
            else
            {
                foreach (var turma in Model)
                {
            <tr>
                <td>@turma.Nome</td>
                <td>@turma.Instrutor?.Nome</td>
                <td>@turma.Horario</td>
                <td>
                    @switch (turma.Status)
                            {
                                case 1:
                    <text>Ativa</text>
                                    break;
                                case 2:
                    <text>Desativada</text>
                                    break;
                                default:
                    <text>Desconhecido</text>
                                    break;
                            }
                </td>
                <td>@turma.Dt_Cadastro.ToString("dd/MM/yyyy")</td>
                <td>
                    <a class="btn btn-warning" asp-route-id="@turma.Id" asp-controller="Turmas" asp-action="Editar">Editar</a>
                    @if (User.IsInRole("Admin"))
                            {
                    <a class="btn btn-danger" asp-route-id="@turma.Id" asp-controller="Turmas" asp-action="Excluir">Excluir</a>
                            }
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
    </div>
